@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
  }
  
  /* Default width for large screens */
.sidebar {
  width: 230px;
}

/* For medium screens (768px and below) */
@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Adjust the width for medium screens */
  }
}

/* For small screens (480px and below) */
@media (max-width: 480px) {
  .sidebar {
    width: 150px; /* Adjust the width for small screens */
  }
}
